@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

/* Default everything to border-box because its just better. */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* Set variables in root for font familys; use later for simplification. */
:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  background-color: #d8c0a4;
}

.app {
  padding: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgb(243, 25, 25) 0%,
    rgb(231, 112, 0) 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

h2 {
  color:rgba(53, 20, 5, 0.5);
  text-align: center;
}

.search {
  width: 71%;
  margin: 4rem 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #d9dcdf;
  /* -webkit-box-shadow: 5px 5px 7px #abaeb4, -5px -5px 7px #8a949b; */
  box-shadow: 5px 5px 7px #e08b59, -5px -5px 7px #bb7820;
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: #1b1b1b;
  background: #d9dcdf;
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

/* .search button {
  padding: 20px 40px;
  border-radius: 0.5rem;
  margin-left: 15px;
  color: #a1a1a1;
  font-family: var(--font-raleway);
  font-weight: 900;
  letter-spacing: 0.75px;
  font-size: 1.25rem;
  cursor: pointer;
  background: #1f2123;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
} */



.container {
  width: 100%;
  margin-top: 3rem;

  display: grid;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movie {
  width: 310px;
  height: 460px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

h3 {
  color:rgb(65, 39, 0)
}

@keyframes mini-new {
  from {
    position: relative;
    bottom: -5px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

.empty {
  animation: mini-new 0.4s ease-in;

  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.25rem;
  color: #1d1005;
  font-family: var(--font-raleway);
}

.spell-mini {
  animation: mini-new 0.2s ease-in;

  width: 300px;
  height: 50px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: 3px solid rgba(88, 33, 7, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);

  /* From: https://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.spell-mini:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.spell-mini:active {
  box-shadow: 0px 11px 5px -6px rgba(0, 0, 0, 0.1);
  transform: scale(0.97, 0.97);
}

@keyframes spell-new {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.spell {
  animation: spell-new .5s cubic-bezier(0.175, 0.1, 0, 1);

  width: 100%;
  min-height: 500px;
  margin: 1.5rem;
  padding: 0.5rem 5%;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: 5px solid rgba(158, 55, 7, 0.726);

  display: flex;
  align-items: center;
  flex-direction: column;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 16px 14px -7px rgba(0, 0, 0, 0.1);
}

.spell-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 0.5rem;
  gap: 100%;
}

.spell-name {
  font-size: 2rem;
  color:rgba(88, 33, 7);
  padding:1%;
}

.spell-school {
  font-style: italic;
  position: relative;
  top: -0.5rem;
}

.spell-body p {
  margin-top: 0.3rem;
}

.spell-source {
  font-style: italic;
  font-size: 0.8rem;
  padding-top: 0.2rem;
  color:rgba(124, 79, 16, 0.623)
}

@media screen and (max-width: 700px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  .container {
    margin-top: 2rem;
  }

  .movie {
    width: "100%";
    margin: 1rem;
  }
}

@media screen and (min-width: 1100px) {
  .spell {
    width: 71%;

    margin: 1.5rem 2rem;
    padding: 0.5rem 3rem;
  }
}